body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 50px;
}

.Monday {
	background-color: red;
}
.Tuesday {
	background-color: orange;
}
.Wednesday {
	background-color: yellow;
}
.Thursday {
	background-color: green;
}
.Friday {
	background-color: blue;
}
.Saturday {
	background-color: indigo;
}
.Sunday {
	background-color: violet;
}
.buttons {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}
button {
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
    height: 50px;
    width: 150px;
    margin: 10px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}
.box {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: background-color 0.5s ease-in-out;
}
.animate {
    opacity: 1;
    animation: moveDown 2s ease-in-out forwards;
}
@keyframes moveDown {
    0% {
        top: 0;
    }
    100% {
        top: 200px;

    }
}